<head>
    <link href="https://fonts.cdnfonts.com/css/mortal-kombat" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: rgb(44, 44, 44);
            font-family: 'Mortal Kombat 4', sans-serif;
        }

        #startButton:hover {
            background-color: darkgreen !important;
        }

        #startButton:active {
            background-color: lightgreen !important;
        }

        #startButton {
            font-family: 'Mortal Kombat 4', sans-serif;
            padding: 20px;
            font-size: 20px;
            background-color: lightseagreen;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-right: 135px;
            transition: background-color 0.3s;
        }

        #timer {
            font-size: 36px;
            color: white;
            text-align: center;
            height: 100px;
            /* Adjust the height as needed */
            width: 100px;
            /* Adjust the width as needed */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25%;
            border: gold 6px solid;
            background: linear-gradient(to bottom, #FF0000, #FFA500, #FFFF00);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>
</head>



<body style="background-color: rgb(44, 44, 44);">
    <div id="overlay"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 2;">
        <button id="startButton"
            style="padding: 20px; font-size: 20px; background-color: lightseagreen; color: white; border: none; cursor: pointer; border-radius: 10px; display: flex; align-items: center; margin-right: 135px; transition: background-color 0.3s;">
            <img src="https://www.svgrepo.com/show/114988/turn-off.svg" alt="Power Icon"
                style="width: 24px; height: 24px; margin-right: 8px; filter: invert(1);" />
            START GAME
        </button>

    </div>
    <!-- main container div -->
    <div style="position:relative; display: inline-block;">
        <!-- healthbar container div -->
        <div style="position: absolute; display: flex; width: 100%; align-items: center; padding: 20px ">
            <!-- player health -->
            <div style="position: relative; width: 100%; display: flex; justify-content: flex-end; border: gold 6px solid; border-top-left-radius: 25px;
            border-bottom-left-radius: 25px; ">
                <div style="background-color: red; height:30px; width: 100%; border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px; "></div>
                <div id="playerHealth" style="position: absolute; background: #818cf8; top:0; right: 0; bottom: 0; width: 100%; border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;">
                </div>
            </div>
            <!-- timer -->
            <div id="timer"
                style="background-color: darkgrey; height:100; width: 100; flex-shrink: 0; display:flex; align-items: center; justify-content: center; border-radius: 25%; border: gold 6px solid">
            </div>
            <!-- enemy health -->
            <div style="position: relative; width: 100%; ; border: gold 6px solid; border-top-right-radius: 25px;
            border-bottom-right-radius: 25px; ">
                <div style="background-color: red; height:30px; width: 100%; border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;"></div>
                <div id="enemyHealth" style="position: absolute; background: #818cf8; top:0; right: 0; bottom: 0; left: 0; border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;">
                </div>
            </div>
        </div>
        <div id="displayText"
            style="position: absolute; align-items: center; justify-content: center; top:0; right: 0; bottom: 0; left: 0; display: none">
        </div>
        <canvas></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
        integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./js/utils.js"></script>
    <script src="./js/classes.js"></script>

    <script src="index.js"></script>

</body>